:root{
	--black:#000;
	--white:#fff;

	--gray:#888888;
	--gray-4:#353535;
	--gray-3:#585858;
	--gray-2:#b8b8b8;
	--gray-1:#dbdbdb;

	--red:#f03333;
	--red-4:#e34949;
	--red-3:#e77171;
	--red-2:#e69292;
	--red-1:#ebb1b1;

	--green:#2ab72a;
	--green-4:#44c044;
	--green-3:#5ec65e;
	--green-2:#71cf71;
	--green-1:#a7eea7;

	--blue:#0077ff;
	--blue-4:#338aef;
	--blue-3:#539bed;
	--blue-2:#70a9ea;
	--blue-1:#a1c5ee;

	--yellow:#efef21;
	--yellow-4:#c7c720;
	--yellow-3:#e8e84c;
	--yellow-2:#efef8c;
	--yellow-1:#efefb3;

	--orange:#febd44;
	--orange-4:#ffc861;	
	--orange-3:#ffd483;	
	--orange-2:#ffdd9f;
	--orange-1:#ffebc6;

	--pink:#f1aab6;
	--pink-4:#c45265;
	--pink-3:#d47b8a;
	--pink-2:#e0a6b0;
	--pink-1:#f0cad0;

	--purple:#9d319d;
	--purple-4:#b351b3;
	--purple-3:#c76bc7;
	--purple-2:#d87ed8;
	--purple-1:#efafef;


	--body-bg: #fff;
	--fsz:16px;

	--btn-bg:var(--black);

	--font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
	--ph-line: #bbb;
	--ph-fill: #666;

	--theme-bg:var(--white);
	--theme-color:var(--black);

}
/* ОСНОВНІ */
*{
	text-decoration: var(--tdc);
	object-fit: cover;
	box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
	font-family: var(--font);
	font-feature-settings: 'pnum' on, 'lnum' on;
	outline:0;border:0;margin:0;padding:0;
	line-height: 1.35em;
}
html, body{
	min-height: 100%;
	background-color: var(--theme-bg);
}


hr{ width: 100%; margin: 20px 0; border-top: 1px solid #aaa;}

h1,h2,h3,h4,h5,h6 {
	--fwt:500;
	font-size: var(--fsz);
	font-weight: var(--fwt);
	line-height: 1.2;
}

h1 { --fsz:2.5rem   }
h2 { --fsz:2rem     }
h3 { --fsz:1.75rem  }
h4 { --fsz:1.5rem   }
h5 { --fsz:1.25rem  }
h6 { --fsz:1rem     }

:is(h1,h2,h3,h4,h5,h6,p,b,strong,em,i,dfn,
cite,var,address,
dfn,mark,s,del,ins,small,sub,sup,
pre,code,samp,kbd,q,blockquote,address){
	color:var(--theme-color);
}

a{ color:var(--blue) }

b,strong{ font-weight:500,bold }
em,i,dfn,cite,var,address,dfn{ font-style:italic }
mark{ background-color:mark }
s,del{text-decoration:line-through}
ins{text-decoration:underline}
small,sub,sup{ font-size:smaller }
sub{vertical-align:sub}
sup{vertical-align:super}
pre,code,samp,kbd{font-family:monospace}
q{display:inline}
blockquote,address{display: block}









/* КНОПКИ */
input:is(
	[type=button],
	[type=submit],
	[type=reset])
,button{
	border: 1px solid;
	border-radius: 5px;
	background: transparent;
	padding: .6em 2em;
	cursor: pointer;
	color: var(--theme-color);
}


.border{ border: 1px solid }
[class*="b-"],
[class*="bt-"],
[class*="br-"],
[class*="bb-"],
[class*="bl-"] { border-style: solid }

.bs-dotted {border-style: dotted}
.bs-dashed {border-style: dashed}
.bs-solid  {border-style: solid }
.bs-double {border-style: double}
.bs-groove {border-style: groove}
.bs-ridge  {border-style: ridge }
.bs-inset  {border-style: inset }
.bs-outset {border-style: outset}

.black   {background-color:var(--black   )!important;--btn-clr:var(--black   )!important}
.white   {background-color:var(--white   )!important;--btn-clr:var(--white   )!important}
.gray    {background-color:var(--gray    )!important;--btn-clr:var(--gray    )!important}
.gray-4  {background-color:var(--gray-4  )!important;--btn-clr:var(--gray-4  )!important}
.gray-3  {background-color:var(--gray-3  )!important;--btn-clr:var(--gray-3  )!important}
.gray-2  {background-color:var(--gray-2  )!important;--btn-clr:var(--gray-2  )!important}
.gray-1  {background-color:var(--gray-1  )!important;--btn-clr:var(--gray-1  )!important}
.red     {background-color:var(--red     )!important;--btn-clr:var(--red     )!important}
.red-4   {background-color:var(--red-4   )!important;--btn-clr:var(--red-4   )!important}
.red-3   {background-color:var(--red-3   )!important;--btn-clr:var(--red-3   )!important}
.red-2   {background-color:var(--red-2   )!important;--btn-clr:var(--red-2   )!important}
.red-1   {background-color:var(--red-1   )!important;--btn-clr:var(--red-1   )!important}
.green   {background-color:var(--green   )!important;--btn-clr:var(--green   )!important}
.green-4 {background-color:var(--green-4 )!important;--btn-clr:var(--green-4 )!important}
.green-3 {background-color:var(--green-3 )!important;--btn-clr:var(--green-3 )!important}
.green-2 {background-color:var(--green-2 )!important;--btn-clr:var(--green-2 )!important}
.green-1 {background-color:var(--green-1 )!important;--btn-clr:var(--green-1 )!important}
.blue    {background-color:var(--blue    )!important;--btn-clr:var(--blue    )!important}
.blue-4  {background-color:var(--blue-4  )!important;--btn-clr:var(--blue-4  )!important}
.blue-3  {background-color:var(--blue-3  )!important;--btn-clr:var(--blue-3  )!important}
.blue-2  {background-color:var(--blue-2  )!important;--btn-clr:var(--blue-2  )!important}
.blue-1  {background-color:var(--blue-1  )!important;--btn-clr:var(--blue-1  )!important}
.yellow  {background-color:var(--yellow  )!important;--btn-clr:var(--yellow  )!important}
.yellow-4{background-color:var(--yellow-4)!important;--btn-clr:var(--yellow-4)!important}
.yellow-3{background-color:var(--yellow-3)!important;--btn-clr:var(--yellow-3)!important}
.yellow-2{background-color:var(--yellow-2)!important;--btn-clr:var(--yellow-2)!important}
.yellow-1{background-color:var(--yellow-1)!important;--btn-clr:var(--yellow-1)!important}
.orange  {background-color:var(--orange  )!important;--btn-clr:var(--orange  )!important}
.orange-4{background-color:var(--orange-4)!important;--btn-clr:var(--orange-4)!important}
.orange-3{background-color:var(--orange-3)!important;--btn-clr:var(--orange-3)!important}
.orange-2{background-color:var(--orange-2)!important;--btn-clr:var(--orange-2)!important}
.orange-1{background-color:var(--orange-1)!important;--btn-clr:var(--orange-1)!important}
.pink    {background-color:var(--pink    )!important;--btn-clr:var(--pink    )!important}
.pink-4  {background-color:var(--pink-4  )!important;--btn-clr:var(--pink-4  )!important}
.pink-3  {background-color:var(--pink-3  )!important;--btn-clr:var(--pink-3  )!important}
.pink-2  {background-color:var(--pink-2  )!important;--btn-clr:var(--pink-2  )!important}
.pink-1  {background-color:var(--pink-1  )!important;--btn-clr:var(--pink-1  )!important}
.purple  {background-color:var(--purple  )!important;--btn-clr:var(--purple  )!important}
.purple-4{background-color:var(--purple-4)!important;--btn-clr:var(--purple-4)!important}
.purple-3{background-color:var(--purple-3)!important;--btn-clr:var(--purple-3)!important}
.purple-2{background-color:var(--purple-2)!important;--btn-clr:var(--purple-2)!important}
.purple-1{background-color:var(--purple-1)!important;--btn-clr:var(--purple-1)!important}






button.smaller{padding: .1em  .5em}
button.small  {padding: .4em 1.5em}
button.large  {padding: .8em 2.3em}
button.larger {padding:1.2em   3em}

button[disabled] {opacity:.5;cursor:unset}

textarea{resize: vertical;}
textarea.resize-both{resize: both;}
textarea.resize-horizontal{resize: horizontal;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-image: url(/black.svg);
	background-repeat: no-repeat;
	background-position: top 50% right 15px;
	background-size: 15px;
	padding-right: 40px !important;
	padding: 10px 20px;
	color: var(--theme-color);
	font-size: 16px;
	border: 1px solid;
	border-radius: 5px;
}

body[class*=theme] select:not(.fill),
body:not([class*=theme]) select.fill{
	background-image: url(/white.svg)
} 

:is(select,input,textarea).fill{
	background-color: var(--theme-color);
}
input,select,textarea{
	font-size: 16px;
	border-radius: 5px;
	padding: 10px;
	color: var(--theme-color);
	background-color: transparent;
}
:is(input,select,textarea):not(.fill)::placeholder{
	color: var(--ph-line);
}
:is(input,select,textarea).fill::placeholder{
	color: var(--ph-fill);
}
input:is(
	[type=text],
	[type=number],
	[type=search],
	[type=datetime],
	[type=password],
	[type=search],
	[type=tel],
	[type=url]
),textarea{
	border: 1px solid;
}

.fill{
	border: 0;
	--btn-clr:var(--theme-color, #fff);
	background-color:var(--btn-clr);
}
.line{
	border: 1px solid var(--btn-clr);
	background-color: transparent !important;
	color: var(--btn-clr);
}

.fill,
.fill:is(.red,.blue,.green,.black,.gray,.purple){
	border: 0 !important;
	color:var(--theme-bg, #000)
}
.fill.white { color:var(--black) !important }

select.smaller { padding: 1px 5px   }
select.small   { padding: 5px 10px  }
select.large   { padding: 15px 20px }
select.larger  { padding: 20px 30px }

input.smaller, textarea.smaller{ padding: 1px  }
input.small,   textarea.small  { padding: 5px  }
input.large,   textarea.large  { padding: 15px }
input.larger,  textarea.larger { padding: 20px }

nav.line{ border-bottom: 1px solid var(--theme-color, #000) }
footer.line{ border-top: 1px solid var(--theme-color, #000) }

nav,footer,header{ padding: 10px 0 }
:is(nav,footer,header).large   { padding: 20px 0 }
:is(nav,footer,header).larger  { padding: 30px 0 }
:is(nav,footer,header).x-large { padding: 40px 0 }
:is(nav,footer,header).xx-large{ padding: 50px 0 }


[hover]{
	--tr-dur:.2s;
	cursor: pointer;
	transition: var(--tr-dur);
}
[hover~="100" ]{--tr-dur:.2s}
[hover~="200" ]{--tr-dur:.2s}
[hover~="300" ]{--tr-dur:.3s}
[hover~="400" ]{--tr-dur:.4s}
[hover~="500" ]{--tr-dur:.5s}
[hover~="600" ]{--tr-dur:.6s}
[hover~="700" ]{--tr-dur:.7s}
[hover~="800" ]{--tr-dur:.8s}
[hover~="900" ]{--tr-dur:.9s}
[hover~="1000"]{--tr-dur: 1s}


[hover~=scale]:hover{scale: 1.05}

[hover~=dark ]:hover{filter: brightness(80%)}
[hover~=light]:hover{filter: brightness(120%)}

[hover~=line]::after,
[hover~=line-left]::after,
[hover~=line-right]::after{
	transition: ease-in var(--tr-dur);
	content: '';
	position: relative;
	bottom: -1px;
	display: block;
	background: var(--theme-color); 
	width: 0;height: 1px;
}
[hover~=line]:after{ left: 50% }
[hover~=line-left]:after{ left: 0 }
[hover~=line-right]:after{ left: 100% }

[hover~=line]:hover::after{ width: 100%; left: 0 }
[hover~=line-left]:hover::after{ width: 100% }
[hover~=line-right]:hover::after{ width: 100%; left: 0 }
[hover~=text-shadow]:hover{ text-shadow: 3px 4px 3px rgba(0,0,0,.3) }
[hover~=box-shadow ]:hover{  box-shadow: 3px 4px 3px rgba(0,0,0,.3) }

[class~="1fr" ],.full   {width: 100%   }
[class~="2fr" ],.half   {width: 50%    }
[class~="3fr" ],.third  {width: 33.333%}
[class~="4fr" ],.quarter{width: 25%    }
[class~="5fr" ]{ width: 20%     } 
[class~="6fr" ]{ width: 16.666% }
[class~="7fr" ]{ width: 14.285% }
[class~="8fr" ]{ width: 12.5%   }
[class~="9fr" ]{ width: 11.111% }
[class~="10fr"]{ width: 10%     }

.full-height{height: 100%}
.full-both{width: 100%;height: 100%;}

.full-vw{width: 100vw}
.full-vh{width: 100vh}

/* ТИПИ ПОЗИЦІЮВАННЯ */
.absolute{position: absolute}
.relative{position: relative}
.fixed   {position: fixed}
.sticky  {position: sticky}

.pos-reset{left: 0;top: 0;}

.round{
	border-radius: 99999px;
}
.sharp    {border-radius:0}
.leaf,
.leaf-left {border-radius: 0 20px 0 20px}
.leaf-right{border-radius: 20px 0 20px 0}

img{max-width: 100%;}
img.circle{ border-radius: 50%; aspect-ratio: 1/1 }
img.center{transform: translateX(50%);}
img.float-left,img.float{float: left; margin-right: 10px;}
img.float-right{float: right; margin-left: 10px;}

[shadow~=box] { box-shadow:  3px 4px 3px rgba(0,0,0,.3) }
[shadow~=text]{ text-shadow: 3px 4px 3px rgba(0,0,0,.3) }

/* РОБОТА З ТЕКСТОМ */
[text~=center]{ text-align: center  }
[text~=left]  { text-align: left    }
[text~=right] { text-align: right   }
[text~=just]  { text-align: justify }

[text~=bold]   { font-weight:bold    }
[text~=thin]   { font-weight:lighter }
[text~=normal] { font-weight:normal  }
[text~=italic] { font-style: italic  }
[text~=delete] { text-decoration:line-through}
[text~=line]   { text-decoration:underline   }

[text~=lh-xxsmall]{line-height:0.3 }
[text~=lh-xsmall ]{line-height:0.5 }
[text~=lh-smaller]{line-height:0.8 }
[text~=lh-small  ]{line-height:1   }
[text~=lh-large  ]{line-height:1.6 }
[text~=lh-larger ]{line-height:2   }
[text~=lh-xlarge ]{line-height:2.5 }
[text~=lh-xxlarge]{line-height:3   }

[text~="black" ]{color:var(--black   )!important}
[text~="white" ]{color:var(--white   )!important}
[text~="gray"  ]{color:var(--gray    )!important}
[text~=gray-4  ]{color:var(--gray-4  )!important}
[text~=gray-3  ]{color:var(--gray-3  )!important}
[text~=gray-2  ]{color:var(--gray-2  )!important}
[text~=gray-1  ]{color:var(--gray-1  )!important}
[text~="red"   ]{color:var(--red     )!important}
[text~=red-4   ]{color:var(--red-4   )!important}
[text~=red-3   ]{color:var(--red-3   )!important}
[text~=red-2   ]{color:var(--red-2   )!important}
[text~=red-1   ]{color:var(--red-1   )!important}
[text~="green" ]{color:var(--green   )!important}
[text~=green-4 ]{color:var(--green-4 )!important}
[text~=green-3 ]{color:var(--green-3 )!important}
[text~=green-2 ]{color:var(--green-2 )!important}
[text~=green-1 ]{color:var(--green-1 )!important}
[text~="blue"  ]{color:var(--blue    )!important}
[text~=blue-4  ]{color:var(--blue-4  )!important}
[text~=blue-3  ]{color:var(--blue-3  )!important}
[text~=blue-2  ]{color:var(--blue-2  )!important}
[text~=blue-1  ]{color:var(--blue-1  )!important}
[text~="yellow"]{color:var(--yellow  )!important}
[text~=yellow-4]{color:var(--yellow-4)!important}
[text~=yellow-3]{color:var(--yellow-3)!important}
[text~=yellow-2]{color:var(--yellow-2)!important}
[text~=yellow-1]{color:var(--yellow-1)!important}
[text~="orange"]{color:var(--orange  )!important}
[text~=orange-4]{color:var(--orange-4)!important}
[text~=orange-3]{color:var(--orange-3)!important}
[text~=orange-2]{color:var(--orange-2)!important}
[text~=orange-1]{color:var(--orange-1)!important}
[text~="pink"  ]{color:var(--pink    )!important}
[text~=pink-4  ]{color:var(--pink-4  )!important}
[text~=pink-3  ]{color:var(--pink-3  )!important}
[text~=pink-2  ]{color:var(--pink-2  )!important}
[text~=pink-1  ]{color:var(--pink-1  )!important}
[text~="purple"]{color:var(--purple  )!important}
[text~=purple-4]{color:var(--purple-4)!important}
[text~=purple-3]{color:var(--purple-3)!important}
[text~=purple-2]{color:var(--purple-2)!important}
[text~=purple-1]{color:var(--purple-1)!important}

[text~=cols-2 ]{columns: 2 }
[text~=cols-3 ]{columns: 3 }
[text~=cols-4 ]{columns: 4 }
[text~=cols-5 ]{columns: 5 }
[text~=cols-6 ]{columns: 6 }
[text~=cols-7 ]{columns: 7 }
[text~=cols-8 ]{columns: 8 }
[text~=cols-9 ]{columns: 9 }
[text~=cols-10]{columns: 10 }

[text~=up ]{text-transform: uppercase }
[text~=low]{text-transform: lowercase }
[text~=cap]{text-transform: capitalize}

[text~=mono ] {font-family:monospace}
[text~=serif]{font-family:serif}

[text~=vertical]{writing-mode:vertical-lr}
[text~=wrap    ]{ word-wrap: break-word }
[text~=shadow  ]{ text-shadow: 3px 4px 3px rgba(0, 0, 0, .3); }

/* ВИРІВНЮВАННЯ ТЫ СІТКА*/
[flex],[grid]{
	justify-content:var(--jc);
	align-items:var(--ai);
	align-content: var(--ac);
}
[flex]{
	display:flex;
	flex-direction:var(--fd);
}
[grid]{
	display: grid;
	grid-template-columns:var(--gtc);
	grid-template-rows:var(--gtr);
}

[flex~=center    ],[grid~=center    ]{ --jc:center;--ai:center }
[flex~=row-start ],[grid~=row-start ]{ --jc:flex-start;--fd:row  }
[flex~=row-center],[grid~=row-center]{ --jc:center;--fd:row      }
[flex~=row-end   ],[grid~=row-end   ]{ --jc:flex-end;--fd:row    } 
[flex~=col-start ],[grid~=col-start ]{ --fd:column;--ai:flex-start }
[flex~=col-center],[grid~=col-center]{ --fd:column;--ai: center    }
[flex~=col-end   ],[grid~=col-end   ]{ --fd:column;--ai: flex-end  }
[flex~=space     ],[grid~=space     ]{ --jc: space-between;--ai: center }
[flex~=stretch   ],[grid~=stretch   ]{ --ai: stretch }
[flex~=wrap]{ flex-wrap: wrap }

[flex~=row]    ,[grid~=row]    { --fd:row           }
[flex~=col]    ,[grid~=col]    { --fd:column        }
[flex~=row-rev],[grid~=row-rev]{ --fd:row-reverse   }
[flex~=col-rev],[grid~=col-rev]{ --fd:column-reverse}

[flex~=jc-c ],[grid~=jc-c ]{ --jc:center       }
[flex~=jc-bl],[grid~=jc-bl]{ --jc:baseline     }
[flex~=jc-s ],[grid~=jc-s ]{ --jc:flex-start   }
[flex~=jc-e ],[grid~=jc-e ]{ --jc:flex-end     }
[flex~=jc-sb],[grid~=jc-sb]{ --jc:space-between}
[flex~=jc-sa],[grid~=jc-sa]{ --jc:space-around }
[flex~=jc-se],[grid~=jc-se]{ --jc:space-evenly }
[flex~=ai-c ],[grid~=ai-c ]{ --ai:center       }
[flex~=ai-bl],[grid~=ai-bl]{ --ai:baseline     }
[flex~=ai-s ],[grid~=ai-s ]{ --ai:flex-start   }
[flex~=ai-e ],[grid~=ai-e ]{ --ai:flex-end     }
[flex~=ai-st],[grid~=ai-st]{ --ai:stretch      }
[flex~=ac-c ],[grid~=ac-c ]{ --ac:center       }
[flex~=ac-bl],[grid~=ac-bl]{ --ac:baseline     }
[flex~=ac-s ],[grid~=ac-s ]{ --ac:flex-start   }
[flex~=ac-e ],[grid~=ac-e ]{ --ac:flex-end     }
[flex~=ac-sb],[grid~=ac-sb]{ --ac:space-between}
[flex~=ac-sa],[grid~=ac-sa]{ --ac:space-around }
[flex~=ac-se],[grid~=ac-se]{ --ac:space-evenly }

[grid~=col-2 ]{--gtc:repeat(2, 1fr) } [grid~=row-2 ]{--gtr:repeat(2, 1fr) }
[grid~=col-3 ]{--gtc:repeat(3, 1fr) } [grid~=row-3 ]{--gtr:repeat(3, 1fr) }
[grid~=col-4 ]{--gtc:repeat(4, 1fr) } [grid~=row-4 ]{--gtr:repeat(4, 1fr) }
[grid~=col-5 ]{--gtc:repeat(5, 1fr) } [grid~=row-5 ]{--gtr:repeat(5, 1fr) }
[grid~=col-6 ]{--gtc:repeat(6, 1fr) } [grid~=row-6 ]{--gtr:repeat(6, 1fr) }
[grid~=col-7 ]{--gtc:repeat(7, 1fr) } [grid~=row-7 ]{--gtr:repeat(7, 1fr) }
[grid~=col-8 ]{--gtc:repeat(8, 1fr) } [grid~=row-8 ]{--gtr:repeat(8, 1fr) }
[grid~=col-9 ]{--gtc:repeat(9, 1fr) } [grid~=row-9 ]{--gtr:repeat(9, 1fr) }
[grid~=col-10]{--gtc:repeat(10,1fr) } [grid~=row-10]{--gtr:repeat(10,1fr) }


.m0{ margin:0  !important} 
.p0{ padding:0 !important}
.b0{ border: 0 !important}

.inline       { display: inline       }
.block        { display: block        }
.inline-block { display: inline-block }

.flip-both { scale:-1 -1 }
.flip-x    { scale:-1  1 }
.flip-y    { scale: 1 -1 }

.select-none    {user-select:none    }
.select-text    {user-select:text    }
.select-all     {user-select:all     }
.select-contain {user-select:contain }
 
.over-hidden  {overflow:   hidden}
.over-hidden-x{overflow-x: hidden}
.over-hidden-y{overflow-y: hidden}
.over-scroll  {overflow:   scroll}
.over-scroll-x{overflow-x: scroll}
.over-scroll-y{overflow-y: scroll}

[class*=over-scroll]::-webkit-scrollbar{ height:.3rem; width:.3rem }
[class*=over-scroll]::-webkit-scrollbar-thumb{ background: #bbb  }
[class*=over-scroll]::-webkit-scrollbar-track{ background: white }

.snap,.snap-x{scroll-snap-type:x mandatory}
.snap-y{scroll-snap-type:y mandatory}

.snap-item{scroll-snap-align:center}
.snap-item-start{scroll-snap-align:start}
.snap-item-end{scroll-snap-align:end}

.snap-stop{scroll-snap-stop: always}

[class*=hue]{filter: hue-rotate(var(--hue))}
.invert{filter: invert()}

 
/* КУРСОРИ */
.pointer{cursor:pointer}

/* THEME */

/* [class*=theme]{
	--theme-bg:var(--white);
	--theme-color:var(--black);
} */

.theme-black  { --theme-bg: #000 }
.theme-black *{ --theme-color: var(--white)  }

.theme-dark  { --theme-bg: #232323; }
.theme-dark *{ --theme-color: var(--white)  }

.theme-dark-red  { --theme-bg: #3a0606; }
.theme-dark-red *{ --theme-color: var(--white)  }

.theme-dark-green  { --theme-bg: #102714; }
.theme-dark-green *{ --theme-color: var(--white)  }

.theme-dark-blue  { --theme-bg: #0a0929; }
.theme-dark-blue *{ --theme-color: var(--white)  }

option{
	color: black;
	background-color: white;
}

/* АДАПТИВ */
.wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.fit{ width:fit-content !important }

/* MOBILE  */
@media screen and (max-width: 576px) {
	:is(nav,header,footer) :is(button,input,select,textarea) { width: auto !important}
	.wrapper :is(button,input,select,textarea) { width: 100%}
	.wrapper{ max-width: 100% }
	[desktop],[tablet]{display: none}
	[desktop-tablet]{display: none}
}
/* TABLET */
@media (min-width: 576px) and (max-width: 1024px) {
	.wrapper{ max-width: 576px }
	[mobile],[desktop]{display: none}
	[desktop-mobile]{display: none}
}
/* DESKTOP */
@media screen and (min-width: 1024px) {
	.wrapper{ max-width: 1024px }
	[mobile],[tablet]{display: none}
	[tablet-mobile]{display: none}
}

.debug *{ border: 0.1px solid red }

